
/* 
==============
General properties
==============
 */

 *,
 *:after,
 *:before {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
 }

/* 
===============
Containers
===============
 */

body {
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    width: calc(80vh / 1.5);
    height: 80vh;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 10px 15px 10px grey;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(6, 1fr); /* 6 rows */
}

/* Background color on buttons and display */

#display {
    background: rgba(147,206,222,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 0%, rgba(73,165,191,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(147,206,222,1)), color-stop(0%, rgba(117,189,209,1)), color-stop(0%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 0%, rgba(73,165,191,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 0%, rgba(73,165,191,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 0%, rgba(73,165,191,1) 100%);
    background: radial-gradient(ellipse at center, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 0%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
.top, .numbers, .operators {
    background-color:rgba(117,130,255);
}

/* 
==========================
        Display
==========================
 */
#display{
    color: black;
    grid-column: 1 / 5;
    grid-row: 1;
    padding-top: 2vh;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    font-size: 10vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* 
=====================
Buttons
=====================
 */

 /* ---- Grid positioning ------ */

 #backspace, #clear {
     grid-row: 2;
 }

 #backspace {
     grid-column: 1 / 3;
     padding-top: 0;
 }

 #clear {
     grid-column: 3 / 5;
 }

 /* ----- layout ------ */

.numbers, .operators {
    transition: all .07s ease;
    border: 1px solid rgba(117,115,225);
    font-size: 5vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

div[id="0"] {
    border-bottom-left-radius: 5px;  
}
div[id="add"] {
    border-bottom-right-radius: 5px;  
}

/* 
=====================
JS transition effects
=====================
 */

.press {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    color: rgba(147,206,222,1);
  }